---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Slade Integrative Health | Contact">
    <main class="container max-w-screen-xl mx-auto px-4 md:px-2 min-h-[calc(100vh-64px-41px)]">
        <div class="pt-28 text-center mb-8">
            <h1 class="text-4xl font-extrabold mb-4 text-[#2D1505] inline-block">Contact us</h1>
            <h2 class="text-base text-[#2D1505]">If you would like to learn more about our services, complete the form. We look forward to connecting with you and working together!</h2>
        </div>
        <form class="mb-12">
            <div class="grid gap-6 mb-6 md:grid-cols-2">
                <div>
                    <label for="first_name" class="block mb-2 text-sm font-medium text-[#2D1505]">First name</label>
                    <input type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#2D1505] focus:border-[#2D1505] block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#2D1505] dark:focus:border-[#2D1505]" placeholder="John" required />
                </div>
                <div>
                    <label for="last_name" class="block mb-2 text-sm font-medium text-[#2D1505]">Last name</label>
                    <input type="text" id="last_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#2D1505] focus:border-[#2D1505] block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#2D1505] dark:focus:border-[#2D1505]" placeholder="Doe" required />
                </div>
                <div>
                    <label for="email" class="block mb-2 text-sm font-medium text-[#2D1505]">Email address</label>
                    <input type="text" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#2D1505] focus:border-[#2D1505] block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#2D1505] dark:focus:border-[#2D1505]" placeholder="email" required />
                </div>  
                <div>
                    <label for="phone" class="block mb-2 text-sm font-medium text-[#2D1505]">Phone number</label>
                    <input type="tel" id="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#2D1505] focus:border-[#2D1505] block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#2D1505] dark:focus:border-[#2D1505]" placeholder="phonenumber" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required />
                </div>
            </div>
            <div class="mb-6">
                <label for="message" class="block mb-2 text-sm font-medium text-[#2D1505]">Message</label>
                <textarea  id="message" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#2D1505] focus:border-[#2D1505] block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-[#2D1505] dark:focus:border-[#2D1505] resize-none" placeholder="message" rows="4" required />
            </div> 
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
        </form>
    </main>    
</Layout>